<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="jumbotron jumbotron-fluid">
          <div class="container text-center">
            <h1 class="display-4">Scraper</h1>
            <p class="lead">Today's current articles</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        content here
        {{title}}
        {{heading}}
      </div>
      <div class="col-3">
        button
      </div>
    </div>